* {
    box-sizing: border-box;
   
}

h1,h2,h3, p{
     color:white;
}

body{
     font-family: Inter, sans-serif;
    background-color:#23252C;
}
.container{
    background-color:#1A1B21;
   width:317px;
    margin:0 auto;
    border-radius:15px;
   
    
    
}

/* info section */
.info-container{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    
    
}
.info-container h1{
  
    font-size:25px;
    margin-bottom:0;
}

.info-container h2{
    font-size:12px;
    color:#F3BF99;
    margin-bottom:0;
    
    
}

.info-container h3 {
    
    font-size:10px;
}

.info-container h3 a{
    color:white;
}


.info-image{
    width:100%;
    height:317px;
  
}

.info-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:15px 15px 0 0
}

.info-buttons{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:15px;
   
}

.info-buttons button{
    font-size:14px;
    margin:0 10px;
    border-radius:3px;
    border:none;
    padding: 9px 13px 9px 11px;
    width:115px;
    
    
}

.email-btn a{
    color:black;
    text-decoration:none;
}

.info-buttons button i{
    padding-right:5px;
}

.linkedin-btn{
    background-color:#5093E2;
   
 
}

.linkedin-btn a {
    color:white;
    text-decoration:none;
}



.fa-linkedin{
    color:white;
}





/* about */

.about-container{
    width:85%;
    margin:0 auto;
    
}

.about-container h3{
    font-size:16px;
    padding-top:30px
   
}

.about-container p{
    font-size:10px;
    line-height:15px;
    color:#DCDCDC;
}



/* interests section  */



/* footer section */

footer{
    
    background-color:#161619;
    height:50px;
    border-radius:0 0 15px 15px;
    margin-top:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

footer i{
    font-size:25px;
    margin:0 10px;
    color:#918E9B;
}

